// Componente Navbar
.navbar {
  width: 100%;
  height: 80px;
  background-color: #4CB4BE !important;

  // Div Container
  .navbarContainer {
    background-color: #4CB4BE;
    color: white;

    // Logo
    .navbarLogo {
      display: flex;
      align-items: center;
      height: 100%;
      color: white;
      margin: 0px;
      font-size: 1.5rem;
      transition: all 0.5s;
      img {
        margin-right: 5px;
      }
    }
    .navbarLogo:hover {
      color: #dde0e0;
    }
  }
}

.separator {
  width: 1px;
  height: 16px;
  background-color: white;
  margin: auto 15px;
}

.offcanvas {
  .offcanvasBody {
    ul {
      li {
        border-radius: 3px;
        a {
          color: white !important;
        }
      }
      li:hover {
        background-color: #84CCCC;
      }
    }
  }
}

.bottomNavbar {
  background-color: blue;
}

.sidebar {
  background-color: green;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

// -----------------------------------------------

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // Componente Navbar
  .navbar {
    // Div Container
    .navbarContainer {
      .navbarToggler {
        color: white;
        height: 40px;
        border-color: transparent;
        transition: all 0.5s;
        span {
          color: white;
        }
      }
      .navbarToggler:hover {
        background-color: #84CCCC;
      }
      .navbarToggler:focus {
        box-shadow: 0 0 0 0;
      }
    }
  }

  // offcanvas del Componente Navbar
  .offcanvas {
    .offcanvasHeader {
      background-color: #4CB4BE;
      height: 80px;
      min-height: 80px;

      .offcanvasTittle {
        color: white;
      }
      .offcanvasClose {
        background-color: white;
      }
    }
    .offcanvasBody {
      background-color: white;
      color: black;
      ul {
        padding-right: 0 !important;
        li {
          a {
            margin-left: 15px;
            color: black !important;
          }
        }
        li:hover {
          background-color: #dde0e0;
        }
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}
